/* styles/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
}

code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}
